.card_details_container{
    background-color: #e7f3fa;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;

    @media screen and (max-width: 601px) {
        padding: 10px;
    }

    .details_container{
        display: flex;
        align-items: center;

        .input_label{
            color: #625d5d;
            font-size: 13px;
            font-weight: 500;
            margin-right: 7px;

            @media screen and (max-width: 601px) {
                font-size: 12px;
            }

        }
        .input_box{
           &:disabled{
            border: none;
            font-weight: 600;

            @media screen and (max-width: 601px) {
                font-size: 12px;
            }

           }
        }
    }
    .card_details{
        display: flex;
        justify-content: space-between;
    }
    .small_input_box{
        width: 45px;
    }
    .large_input_box{
        width: 60%;
    }

}